@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

body {
  background: #FFF;
}

.site-header {
  padding-top: 44px;
  padding-bottom: 44px;
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  gap: 33px;
}

.site-header__link {
  text-decoration: none;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.site-header__link:hover {
  color: #333D4B;
}

.hero__wrapper {
  padding: 117px 0 116px 85px;
  background-image: url(../images/Bitmap\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.hero__info-wrapper {
  width: 493px;
}

.hero__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.hero__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin-bottom: 56px;
}

.hero__link {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  padding: 15px 31px;
  text-decoration: none;
}

.hero__link:hover {
  background: #66D2CF;
}

@media only screen and (max-width: 1030px) {
  .hero__wrapper {
    background-image: url(../images/Bitmap\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -175px center;
  }
}
@media only screen and (max-width: 1015px) {
  .hero__title {
    font-size: 48px;
    line-height: 48px;
  }
  .hero__wrapper {
    background-image: url(../images/Bitmap\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -175px center;
  }
}
.collection {
  margin-top: 86px;
  padding-bottom: 188px;
}

.collection__wrapper {
  background-size: 1111px 196px;
}

.collection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 126px;
  max-width: 1111px;
  margin: 0 auto;
  background-image: url(../images/collectionbg.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
}

.collection__item {
  max-width: 255px;
  text-align: center;
}

.collection__text-wrap {
  text-align: center;
}

.collection__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 24px;
}

.collection__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.collection__imgbox {
  max-width: 255px;
}

@media only screen and (max-width: 1030px) {
  .collection__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .collection__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 573px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .collection__text-wrap {
    text-align: start;
  }
}
.choose {
  margin-bottom: 200px;
}

.choose__div {
  padding: 71px 155px;
  background-color: #000;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.choose__black {
  position: absolute;
  content: "";
  background-color: #000;
  height: 220px;
  width: 100%;
  left: 0;
  right: 0;
  top: 270px;
  z-index: -1;
  border-radius: 0 0 10px 10px;
}

.choose__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.choose__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  opacity: 0.5;
}

.choose__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  list-style-type: none;
  z-index: 1;
}

.choose__item {
  max-width: 350px;
  max-height: 382px;
  background: #0E8784;
  border-radius: 8px;
  padding: 72px 48px 48px 47px;
}

.choose__item-div {
  text-align: center;
}

.choose__item-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
  padding-bottom: 24px;
}

.choose__item-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.choose__img {
  max-width: 72px;
  max-height: 72px;
  margin-bottom: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1200px) {
  .choose__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
  }
  .choose__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 573px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 41px 48px;
  }
  .choose__item-div {
    text-align: start;
    max-width: 540px;
  }
  .choose__img {
    max-width: 55px;
    margin-right: 55px;
  }
  .choose__black {
    height: 325px;
  }
}
.last {
  padding-bottom: 200px;
}

.last__title {
  padding-bottom: 80px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}

.last__icon-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.last__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  gap: 95px;
  padding-top: 67px;
}

.last__item {
  width: 285px;
  padding-bottom: 64px;
}

.last__item-title {
  padding-top: 38px;
  padding-bottom: 42px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

.last__item-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.last__box {
  max-width: 775px;
  height: 2px;
  background-color: #FDD6BA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.last__box span {
  background: #FEFCF7;
  border: 1px solid #0E8784;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
  .last__box {
    max-width: 580px;
  }
}
.site-footer {
  background: #2C343E;
  padding-top: 47px;
  padding-bottom: 48px;
}

.site-footer__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.site-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-footer__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 33px;
}

.site-footer__logo {
  margin-right: 103px;
}

.site-footer__logo-img {
  max-width: 236px;
}

.site-footer__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  text-decoration: none;
}

.site-footer__link:hover {
  color: #FEFCF7;
}

.web-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 24px;
}

.web-list__link:hover {
  opacity: 0.5;
}

.web-list__logo-img {
  max-width: 24px;
}

@media only screen and (max-width: 1000px) {
  .site-footer__div {
    display: block;
    text-align: center;
  }
  .site-footer__logo-img {
    margin-bottom: 33px;
  }
  .site-footer__logo {
    margin: 0 auto;
  }
  .site-footer__wrapper {
    display: block;
  }
  .site-footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 65px;
  }
  .web-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.about-hero__wrapper {
  padding: 117px 0 116px 85px;
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.about-hero__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.about-hero__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.about-hero__info-wrapper {
  max-width: 445px;
}

@media only screen and (max-width: 880px) {
  .about-hero__title {
    font-size: 32px;
    line-height: 40px;
  }
  .about-hero__wrapper {
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -96px center;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
.commitment-section {
  padding-top: 168px;
}

.commitment-section__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commitment-section__info-wrap {
  max-width: 540px;
}

.info-wrap__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
}

.info-wrap__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  opacity: 0.8;
}

.commitment-section__img {
  max-width: 445px;
  max-height: 520px;
  margin-right: 125px;
}

@media only screen and (max-width: 880px) {
  .commitment-section__img {
    max-width: 281px;
    height: 470px;
    margin-right: 69px;
    border-radius: 8px;
  }
  .info-wrap__title {
    font-size: 32px;
    line-height: 48px;
  }
  .info-wrap__text {
    font-size: 15px;
    line-height: 25px;
  }
  .commitment-section__info-wrap {
    max-width: 339px;
  }
}
.quality {
  margin-top: 244px;
}

.quality__info-wrapper {
  padding: 100px 0 176px 85px;
  background-color: #000000;
  max-width: 540px;
}

.quality__info-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.quality__info-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
}

.quality__container {
  background-color: #000000;
  border-radius: 10px;
  position: relative;
}

.quality__img {
  position: absolute;
  content: "";
  left: 750px;
  top: -80px;
  max-width: 445px;
  max-height: 474px;
}

@media only screen and (max-width: 990px) {
  .quality__info-wrapper {
    padding: 224px 0 67px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .quality__info-title {
    font-size: 32px;
    line-height: 48px;
  }
  .quality__img {
    max-width: 90%;
    height: 320px;
    left: 323px;
    top: -135px;
  }
}
@media only screen and (max-width: 768px) {
  .quality__img {
    max-width: 90%;
    height: 320px;
    left: calc(50% - 140px);
    top: -135px;
  }
}
.headquarters {
  padding: 168px 85px;
}

.headquarters__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  padding-bottom: 72px;
}

.headquarters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.headquarters__item + .headquarters__item {
  margin-left: 95px;
}

.headquarters__item {
  width: 285px;
  position: relative;
}

.headquarters__item-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  padding-bottom: 24px;
  padding-top: 45px;
}

.headquarters__item-adres {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.headquarters__tel {
  text-decoration: none;
}

.create-hero {
  margin-bottom: 155px;
}

.create-hero__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.create-hero__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
}

.create-hero__wrapper {
  background-image: url(../../images/create.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 134px 0 134px 85px;
  border-radius: 10px;
}

.create-hero__info-wrapper {
  width: 485px;
}

.steps__box {
  max-width: 730px;
  height: 1px;
  background-color: #FDD6BA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__box span {
  border: 1px solid #0E8784;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.steps__list {
  list-style-type: none;
  padding-top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.steps__item {
  width: 285px;
  margin-right: 85px;
}

.steps__item-number {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
}

.steps__item-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
  margin-bottom: 42px;
}

.steps__item-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.steps__wrapper {
  background-color: #000000;
  padding: 100px 150px 100px 85px;
  border-radius: 10px;
}

.drink {
  margin-top: 168px;
  margin-bottom: 88px;
}

.drink__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 125px;
}

.drink__main-list {
  list-style-type: none;
}

.drink__main-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.drink__main-link--number {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-right: 29px;
}

.drink__main-link--title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  opacity: 0.5;
}

.drink__main-link--title:hover {
  opacity: 0.8;
}

.drink__main-link--title:active {
  opacity: 1;
}

.drink__span {
  background: #83888f;
  opacity: 0.25;
  width: 255px;
  height: 1px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.drink__wrap {
  width: 730px;
}

.drink__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
  margin-bottom: 56px;
}

.drink__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
}

.drink__item {
  width: 228px;
  padding: 32px 28px 84px 28px;
  background-color: #F4F1EB;
  border-radius: 8px;
}
.drink__item:hover {
  background: #FDD6BA;
}
.drink__item:active {
  background: #0E8784;
  color: #ffffff;
}

.drink__item-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 24px;
}

.drink__item-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.type {
  margin-left: 36%;
  display: block;
  margin-bottom: 88px;
}

.type__wrap {
  width: 730px;
}

.type__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
  margin-bottom: 56px;
}

.type__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
  list-style-type: none;
}

.type__item {
  width: 228px;
  padding: 32px 28px 84px 28px;
  background-color: #F4F1EB;
  border-radius: 8px;
}
.type__item:hover {
  background: #FDD6BA;
}
.type__item:active {
  background: #0E8784;
  color: #ffffff;
}

.type__item-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 24px;
}

.type__item-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.howmuch {
  margin-left: 500px;
  display: block;
  margin-bottom: 88px;
}

.howmuch__wrap {
  width: 730px;
}

.howmuch__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
  margin-bottom: 56px;
}

.howmuch__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
  list-style-type: none;
}

.howmuch__item {
  width: 228px;
  padding: 32px 28px 84px 28px;
  background-color: #F4F1EB;
  border-radius: 8px;
}
.howmuch__item:hover {
  background: #FDD6BA;
}
.howmuch__item:active {
  background: #0E8784;
  color: #ffffff;
}

.howmuch__item-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 24px;
}

.howmuch__item-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.grind {
  margin-left: 500px;
  display: block;
  margin-bottom: 88px;
}

.grind__wrap {
  width: 730px;
}

.grind__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
  margin-bottom: 56px;
}

.grind__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
  list-style-type: none;
}

.grind__item {
  width: 228px;
  padding: 32px 28px 84px 28px;
  background-color: #F4F1EB;
  border-radius: 8px;
}
.grind__item:hover {
  background: #FDD6BA;
}
.grind__item:active {
  background: #0E8784;
  color: #ffffff;
}

.grind__item-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 24px;
}

.grind__item-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.deliver {
  margin-left: 500px;
  display: block;
  margin-bottom: 88px;
}

.deliver__wrap {
  width: 730px;
}

.deliver__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
  margin-bottom: 56px;
}

.deliver__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
  list-style-type: none;
}

.deliver__item {
  width: 228px;
  padding: 32px 28px 84px 28px;
  background-color: #F4F1EB;
  border-radius: 8px;
}
.deliver__item:hover {
  background: #FDD6BA;
}
.deliver__item:active {
  background: #0E8784;
  color: #ffffff;
}

.deliver__item-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 24px;
}

.deliver__item-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.order {
  margin-left: 500px;
  margin-bottom: 168px;
}

.order__wrap {
  width: 730px;
  background-color: #000000;
  padding: 27pc 64px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.order__summary {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 8px;
}

.order__text {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

.yashil {
  color: #0E8784;
}

.btn {
  border: none;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  padding: 15px 31px;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */