.about-hero__wrapper {
    padding: 117px 0 116px 85px;
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  
    border-radius: 10px;
  }
  .about-about__title{
    font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}
  