.about-hero__wrapper {
    padding: 117px 0 116px 85px;
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  
    border-radius: 10px;
  }
  .about-hero__title{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 24px;
}
.about-hero__text{
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
}
.about-hero__info-wrapper{
  max-width: 445px;
}

@media only screen and (max-width:880px) {
  .about-hero__title{
    font-size: 32px;
    line-height: 40px;
  }
  .about-hero__wrapper {
  
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -96px center;
    border-radius: 10px;
  
  }
}
@media only screen and (max-width:768px) {
  .container{
    max-width: 768px;
  }
}
  