.choose{
  margin-bottom: 200px;
}
  .choose__div {
    padding: 71px 155px;
    background-color: #000;
    position: relative;
    border-radius: 10px 10px 0 0;
  }
  .choose__black{
    position: absolute;
    content: "";
    background-color: #000;
    max-height: 220px;
    height: 300px;
    width: 100%;
    left: 0;
    right: 0;
    top: 270px;
    z-index: -1;
    border-radius:0 0 10px 10px;
  }
  .choose__title {
    font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 32px;
  }
  .choose__text {
    font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  opacity: 0.5;
  }
  .choose__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    z-index: 1;
  }
  .choose__item {
    max-width: 350px;
    height: 382px;
    background: #0E8784;
  border-radius: 8px;
  padding: 72px 48px 48px 47px;
 
  }
  .choose__item-div{
   
    text-align: center;
  }
  .choose__item-title {
    font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;

  color: #FEFCF7;
 
  padding-bottom: 24px;
  }
  .choose__item-text {
    font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #FEFCF7;
  }
  
  .choose__img{
    max-width: 72px;
    max-height: 72px;
    margin-bottom: 56px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  @media only screen and (max-width:1200px) {
    .choose__list{
      flex-direction: column;
      max-width: 90%;
      margin: 0 auto;
    }
    .choose__item{
      display: flex;
    max-width: 573px;
    align-items: center;
    padding: 41px 48px;
    }
    .choose__item-div{
      text-align: start;
      max-width: 540px;
    }
    .choose__img{
      max-width: 55px;
      margin-right: 55px;
    }
    .choose__black{
      height: 325px;
    }
  }
  @media only screen and (max-width: 620px) {
    .choose__title{
      font-size: 28px;
line-height: 28px;
margin-bottom: 24px;
text-align: center;
    }
    .choose__text{
      font-size: 15px;
line-height: 25px;
text-align: center;
    }
    .choose__div{
      padding: 64px 24px;
    }
    .choose__black{
      top: 250px;
      height: 566px;
      max-height: 900px;
    }
    .choose__item {
      display: flex;
      flex-direction: column;
      max-width: 279px;
      max-height: 382px;
     
    }
    .choose__item-title{
      text-align: center;
    }
    .choose__item-text{
      text-align: center;
    }
    .choose__img{
      max-width: 72px;
      margin-bottom: 56px;
    }
  }