.collection {
    margin-top: 86px;
    padding-bottom: 188px;
  
  }
  .collection__wrapper {
   
    background-size: 1111px 196px;

  }
  .collection__list {
    display: flex;
    align-items: center;
   gap: 30px;
   list-style-type: none;
   justify-content: space-between;
  padding-top: 126px;
  max-width: 1111px;
 margin: 0 auto;
  background-image: url(../images/collectionbg.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  }
  .collection__item {
    max-width: 255px;
  text-align: center;
  }
  .collection__text-wrap{
    text-align: center;
 
  }
  .collection__title {
    font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 24px;

  }
  .collection__text {
    font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  }
  .collection__imgbox{
    max-width: 255px;
  }

 @media only screen and (max-width:1030px) {
  .collection__list{
    flex-direction: column;
  }
  .collection__item{
    display: flex;
    max-width: 573px;
   align-items: center;
  }
  .collection__text-wrap{
    text-align: start;
  }
 }