.order {
margin-left: 500px;
margin-bottom: 168px;
}

.order-container {
  
}
.order__wrap {
    width: 730px;
    background-color: #000000;
    padding: 27pc 64px;
    border-radius: 10px;
    margin-bottom: 40px;

}
.order__summary {
    font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-transform: uppercase;
color: #FFFFFF;
opacity: 0.5;
margin-bottom: 8px;
}
.order__text {
    font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 40px;
color: #FFFFFF;
}
.yashil {
    color: #0E8784;
}
.btn {
    border: none;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
    padding: 15px 31px;
    text-decoration: none;
 
}