.type{
    margin-left: 36%;
    display: block;
    margin-bottom: 88px;
}

.type__wrap{
    max-width: 730px;
    
    }
    .type__title{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #83888F;
        margin-bottom: 56px;
    }
    .type__list{
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: center;
      
        list-style-type: none;
    }
    .type__item{
        width: 228px;
        padding: 32px 28px 84px 28px;
        background-color:#F4F1EB;
        border-radius: 8px;
        &:hover{
            background: #FDD6BA;
        }
        &:active{
            background: #0E8784;
           color: #ffffff;
        }
    }
    .type__item:not(:last-child){
        margin-right: 23px;
    }
    
    .type__item-title{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    margin-bottom: 24px;
    }
    .type__item-text{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
     
    }
    @media only screen and (max-width:1012px) {
       .type{
       margin: 0;
       align-items: center;
       }
       .type__item:not(:last-child){
        margin: 0;
          margin-right: 10px;
       }
       .type__title{
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 40px;
       }
    }